html, body {
  margin: 0;
  padding: 0;
  font-family: 'Monaco';
  color: white;
}
canvas {
  display: block;
}

.play-button{
  border: outset 2px rgb(232, 93, 0);
  background-color: rgb(232, 93, 0);
}

.sentence{
  color : rgb(238, 238, 238);
  background-color: rgba(0,0,0,0.3);
  font-family: 'Courier';
  border: outset white 2px';
}

.input{
  background-color: rgb(120, 255, 120);
  color: grey;
}


.invisible {
  opacity: 0;
  width: 0;
  height: 0;
  z-index: -1;
}
